<div class="banner-intro" style="	background: url('assets/img/img/intro-banner.jpg') no-repeat;
width: 100%;
height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: grayscale(100%);
">
		
    <h1>giới thiệu</h1>
    

</div>
<div class="main-intro">
<h2>giới thiệu</h2>
<p>Bạn đang tìm <strong>cửa hàng mua bán mô tô ở Sài Gòn</strong> uy tín và chất lượng? Hay bạn chưa biết <a href="/">đại lý xe mô tô PKL Hà Nội</a> nào có nhiều mẫu xe đẹp?</p>
<p>Hãy đến ngay:</p>
    <ul class="intro-ul01">
        <li>Showroom Dương Motor L/K 21/3, KĐTM Văn Khê, P. La Khê, Q. Hà Đông, Hà Nội.</li>
        <li>Showroom Dương Motor 415 Phạm Văn Đồng, quận Thủ Đức, TP Hồ Chí Minh</li>
    </ul>
<p>Tại các showroom <strong>Dương Motor</strong> có đầy đủ các dòng xe mô tô phân khối lớn sành điệu, kiểu dáng bắt mắt, màu sắc phong phú ưu nhìn, động cơ thiết kế mạnh mẽ tích hợp những công nghệ tiên tiến nhất như phun xăng điện tử tiết kiệm xăng, đèn Led, màn hình LCD, phuộc USD…</p>
<img src="assets/img/img/intro1.jpg">
<p>Các dòng xe mô tô thể thao phong phú của các hãng nổi tiếng <strong>Honda, Yamaha, Suzuki, BMW, TRIUMPH, DUCATI, Kawasaki…</strong> có nhiều sự lựa chọn cho người chơi xe thể thao. Với rất nhiều dịch vụ hỗ trợ khách hàng, Dương Motor tự tin khẳng định mình là <a href ="/"> cửa hàng xe PKL</a>, xe mô tô nhập khẩu UY TÍN và CHẤT LƯỢNG NHẤT VIỆT NAM.</p>
<img src="assets/img/img/intro2.jpg">
<h3>Chính sách hỗ trợ tại Dương Motor</h3>
<p>HỖ TRỢ TƯ VẤN TRẢ GÓP GỌI NGAY:</p>
    <ul class="intro-ul02">
        <li>✴️TRẢ GÓP Sài Gòn: 0901459326</li>
        <li>✴️TRẢ GÓP Hà Nội : 0944081386</li>
        <li>✔️Lãi suất cực thấp, thủ tục đơn giản.</li>
        <li>✔️Lấy xe ngay, chỉ trong 10 phút.</li>
        <li>✔️Hỗ trợ trả góp 64 tỉnh thành.</li>
        <li>Chế độ bảo hành IC 3 năm, Bảo trì TẠI HỆ THỐNG SHOWROOM Dương MOTOR TRÊN TOÀN QUỐC</li>
        <li>❄️ Hỗ trợ giao xe tận nhà</li>
        <li>❄️ Hỗ trợ bằng lái A2</li>
        <li>❄️ Hỗ trợ Đăng Ký Toàn Quốc</li>
        <li>❄️ Dịch vụ Sửa Chữa & độ chế xe mô tô tại nhà theo yêu cầu của quý khách !</li>
        <li>♐️ TRUNG TÂM BẢO HÀNH – SỬA CHỮA TÂN TRANG XE PKL Dương MOTOR</li>
        <li>? Chúng tôi không cạnh tranh về giá ?</li>
        <li>? Chúng tôi luôn cạnh tranh “CHẤT LƯỢNG & DỊCH VỤ”</li>
        <li>? Áp dụng chính sách BẢO HÀNH lên đến 3 năm ?</li>
        <li>♐️ Áp dụng Dich vụ 3S tại Dương MOTOR:</li>
        <li>? Dịch vụ Bán hàng.</li>
        <li>? Dich vụ chăm sóc sửa chữa tân trang xe PKL.</li>
        <li>? Linh kiện phụ kiện chính hãng.</li>
        <li>1. Bảo hành chính hãng IC lên đến 3 NĂM.</li>
        <li>2. Bảo trì xe mới 3 năm hoặc 30.000 km miễn phí ( theo danh mục bảo trì xe máy) .</li>
        <li>3. Dương Motor KHÔNG BẢO HÀNH các linh, phụ kiện, kể cả động cơ do hao mòn tự nhiên trong quá trình sử dụng hoặc do sự cố ngoài ý muốn như tai nạn, thiên tai…</li>
        <li>4. Khách hàng được hưởng chế độ “BẢO HÀNH – BẢO TRÌ” của Dương Motor tại bất kỳ showroom trên toàn quốc.</li>
    </ul>
<h3>Dịch vụ tại Dương Motor</h3>
<img src="assets/img/img/intro3.jpg">
<ul class="intro-ul02">
    <li> Dịch vụ cứu hộ xe pkl 24/24.</li>
    <li>? Nhận Design, độ chế tân trang, sửa chữa xe PKL</li>
    <li>? Bọc carbon fiber cho tất cả các chi tiết xe.</li>
    <li>? Đồ chơi xe mô tô: Phuộc Upside Down, Pô độ xe PKL, Móc Pô cho các dòng xe PKL</li>
    <li>? Lên Cafe Racer, Tracker, Cruiser, Bobber</li>
    <li>? Xử lý, sữa chữa tất cả khung sườn, chảng 3</li>
    <li>? Nhận phục hồi tất cả các xe tai nạn PKL.</li>
    <li>? Cung cấp đồ chơi, linh kiện, phụ kiện chính hãng.</li>
    <li>? Chuyên Thiết Kế Tem Xe theo yêu cầu</li>
    <li>? Cung Cấp Sỉ Lẻ Các Loại Tem Xe</li>
</ul>
</div>